In [38]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import numpy as np
import gmaps
from api_keys import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [39]:
# Read CSV file from "WeatherPy" homework.
weatherpy_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weatherpy_df.dropna(inplace = True) 
weatherpy_df

,City ID,City,Country,Latitude,Longitude,Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,Punta Arenas,CL,-53.1500,-70.9167,48.31,71,40,19.57
1,1,Port Elizabeth,ZA,-33.9180,25.5701,66.49,100,100,5.75
2,2,Provideniya,RU,64.3833,-173.3000,10.51,72,0,15.66
3,3,Hobart,AU,-42.8794,147.3294,81.68,54,20,1.01
4,4,Port-Gentil,GA,-0.7193,8.7815,80.65,78,97,7.23
5,5,Tura,IN,25.5198,90.2201,67.50,36,1,4.00
6,6,Saint George,US,37.1041,-113.5841,41.97,34,0,1.99
7,7,Rapid City,US,44.0805,-103.2310,37.27,44,0,1.01
8,8,Sibu,MY,2.3000,111.8167,86.13,74,40,7.00
9,9,Olafsvik,IS,64.8945,-23.7142,25.90,56,100,15.19
10,10,Katsuura,JP,35.1333,140.3000,48.22,33,90,9.13
11,11,Vanimo,PG,-2.6741,141.3028,81.45,69,100,12.35
12,12,Mar del Plata,AR,-38.0023,-57.5575,63.88,64,100,20.00
13,13,Pacific Grove,US,36.6177,-121.9166,49.77,88,75,1.01
14,14,Kiunga,PG,-6.1219,141.2906,91.38,50,93,1.97
15,15,Aitape,PG,-3.1374,142.3475,79.43,82,100,13.91
16,16,Asheville,US,35.6009,-82.5540,27.12,76,0,0.00
17,17,Gazli,UZ,40.1333,63.4500,35.78,58,89,15.05
18,18,Cayenne,GF,4.9333,-52.3333,79.09,89,75,0.00
19,19,Avarua,CK,-21.2078,-159.7750,77.05,83,20,6.91
20,20,Ribeira Grande,PT,38.5167,-28.7000,59.50,72,40,23.22
21,21,Grand Gaube,MU,-20.0064,57.6608,84.38,71,77,8.01
22,22,Vaini,TO,-21.2000,-175.2000,81.45,70,100,15.82
23,23,Paso de Carrasco,UY,-34.8603,-56.0522,69.94,64,0,4.61
24,24,Kitimat,CA,54.0524,-128.6534,35.98,98,100,1.79
25,25,Half Moon Bay,US,37.4636,-122.4286,49.19,87,75,0.00
26,26,Mataura,NZ,-46.1927,168.8643,73.87,57,92,4.94
27,27,Kapaa,US,22.0752,-159.3190,73.24,72,0,1.01
28,28,Thompson,CA,55.7435,-97.8558,-3.84,77,20,2.30
29,29,Haines Junction,CA,60.7522,-137.5108,-0.45,65,59,2.30
30,30,Norman Wells,CA,65.2820,-126.8329,-21.96,69,75,2.30
31,31,Ushuaia,AR,-54.8000,-68.3000,44.26,70,40,8.05
32,32,Salisbury,GB,51.0693,-1.7957,43.65,70,20,19.57
33,33,Ancud,CL,-41.8697,-73.8203,44.13,81,15,4.47
34,34,Hithadhoo,MV,-0.6000,73.0833,82.47,70,6,10.71
35,35,Salalah,OM,17.0151,54.0924,68.09,52,0,4.61
36,36,Chirilagua,SV,13.2203,-88.1386,70.54,58,67,4.94
37,37,Merauke,ID,-8.4667,140.3333,85.30,65,100,8.55
38,38,Puerto Ayora,EC,-0.7393,-90.3518,73.04,84,100,5.59
39,39,Saint Paul Harbor,US,57.7900,-152.4072,20.71,79,0,5.75
40,40,Jamestown,US,42.0970,-79.2353,10.18,92,0,3.44

In [26]:
# Store latitude and longitude in locations
locations = weatherpy_df[["Latitude", "Longitude"]]

# --- use Lat and Lng as locations and Humidity as the weight ---
# humidity = weatherpy_df["Humidity (%)"].astype(float)
humidity = weatherpy_df["Humidity (%)"]

In [40]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Filter Weather dataframe by the followwing criteria:
# 1. A temperature between 80-85 degrees.
# 2. Wind speed less than 15 mph.
# 3. Cloudiness of less than 25%.
# 4. Humidity is less than 50%
# 5

ideal_cities = weatherpy_df.loc[(weatherpy_df["Temp (F)"] > 80) & 
                               (weatherpy_df["Temp (F)"] < 85) & 
#                                (weatherpy_df["Wind Speed (mph)"] < 10) & 
#                                (weatherpy_df["Cloudiness (%)"] == 0) &
                               (weatherpy_df["Humidity (%)"] < 75), :].reset_index(drop=True).dropna()
ideal_cities

,City ID,City,Country,Latitude,Longitude,Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,3,Hobart,AU,-42.8794,147.3294,81.68,54,20,1.01
1,11,Vanimo,PG,-2.6741,141.3028,81.45,69,100,12.35
2,21,Grand Gaube,MU,-20.0064,57.6608,84.38,71,77,8.01
3,22,Vaini,TO,-21.2000,-175.2000,81.45,70,100,15.82
4,34,Hithadhoo,MV,-0.6000,73.0833,82.47,70,6,10.71

In [47]:
# Finding the first hotel for each city located within 5000 meters of coordinates.
hotel_df = ideal_cities[["City", "Country", "Latitude", "Longitude"]].copy()

# Add a "Hotel Name" column to the DataFrame with null values
hotel_df["Hotel Name"] = np.nan
hotel_df

          City Country  Latitude  Longitude  Hotel Name
0       Hobart      AU  -42.8794   147.3294         NaN
1       Vanimo      PG   -2.6741   141.3028         NaN
2  Grand Gaube      MU  -20.0064    57.6608         NaN
3        Vaini      TO  -21.2000  -175.2000         NaN
4    Hithadhoo      MV   -0.6000    73.0833         NaN

In [48]:
# Set parameters for querying Google Places API
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# Parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# Google Maps URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [54]:
# Create loop to go through each city in the dataframe and make API call

for index, row in hotel_df.iterrows():
    
    # Get the coordinates and store in dictionary
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    
    # Call the API and get hotel details
    hotel_data = requests.get(base_url, params).json()
    
    # Use exception handling to save the first hotel name for each city ---
    try:
        hotel_name = hotel_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"City '{row['City']}' found! The nearest hotel is {hotel_name}\n")     
    except:
        print(f"Could not find information for city '{row['City']}'... skipping.\n")

City 'Hobart' found! The nearest hotel is Hotel Grand Chancellor Hobart

City 'Vanimo' found! The nearest hotel is Sandaun Surf Hotel

City 'Grand Gaube' found! The nearest hotel is Zilwa Attitude Hotel

City 'Vaini' found! The nearest hotel is Paradise First Hotel

City 'Hithadhoo' found! The nearest hotel is Clovebeach

In [50]:
# --- remove null rows from dataframe ---
hotel_df.dropna(how="any",inplace=True)
hotel_df.reset_index(drop=True, inplace=True)

# --- display final dataframe ---
hotel_df

          City Country  Latitude  Longitude                     Hotel Name
0       Hobart      AU  -42.8794   147.3294  Hotel Grand Chancellor Hobart
1       Vanimo      PG   -2.6741   141.3028             Sandaun Surf Hotel
2  Grand Gaube      MU  -20.0064    57.6608          Lagoon Attitude Hotel
3        Vaini      TO  -21.2000  -175.2000           Paradise First Hotel
4    Hithadhoo      MV   -0.6000    73.0833                     Clovebeach