Observations and Insights
- The dataframe use for this analysis came from a CSV file from the previous analysis WeatherPy.
- In the first map, we can see all the locations for all the cities represented in a "heat map". The "heat map" us showing us the data from the cities locations and their respective humidity percentage.
- From that list of over 500+ cities, we filter them  with the following criteria:
    - Cities that have a Temperature between 80-85 (F)
    - Wind Speed between 0-20 mph.
    - Cludiness percentage between 0-30 %
    - And a Humidity between 0-75 %.
- The criteria mentioned before, filter our data from 500+ cities to only 16 cities that meet the criteria. This cities are in my personal "ideal location". : )
- Once I have the list of my ideal cities I search for hotels that are near to those cities and we came up with 16 great hotels that we can use the next time we are in the area. : )
- Finally, we added those 16 hotels into the original "heat map" showing an interactive option to click and get the name of the hotel, city and country.

In [68]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import numpy as np
import gmaps
from api_keys import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [69]:
# Read CSV file from "WeatherPy" homework.
weatherpy_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weatherpy_df.dropna(inplace = True) 
weatherpy_df

,City ID,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
0,0,atuona,PF,-9.8000,-139.0333,78.78,75,9,20.65,02-01-2022
1,1,bredasdorp,ZA,-34.5322,20.0403,69.12,88,27,9.22,02-01-2022
2,2,taoudenni,ML,22.6783,-3.9836,63.54,8,13,11.52,02-01-2022
3,3,vaini,TO,-21.2000,-175.2000,84.36,79,40,10.36,02-01-2022
4,4,hilo,US,19.7297,-155.0900,68.83,84,0,4.61,02-01-2022
...,...,...,...,...,...,...,...,...,...,...
505,505,chernyshevskiy,RU,63.0128,112.4714,-13.20,91,61,2.21,02-01-2022
506,506,sorland,NO,67.6670,12.6934,33.60,51,100,16.87,02-01-2022
507,507,tottenham,AU,-32.2333,147.3500,77.86,65,99,7.67,02-01-2022
508,508,evensk,RU,61.9500,159.2333,22.71,51,100,26.44,02-01-2022
509,509,sarrebourg,FR,48.7333,7.0500,35.71,90,100,10.74,02-01-2022

In [70]:
# Use latitude and longitude as locations and Humidity as the weight
locations = weatherpy_df[["Latitude", "Longitude"]]
humidity = weatherpy_df["Humidity (%)"]

In [71]:
# Plot Heatmap
fig = gmaps.figure(center=[0,-10],zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=5)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Filter Weather dataframe by the followwing criteria:
# 1. A temperature between 80-85 degrees.
# 2. Wind speed less than 20 mph.
# 3. Cloudiness of less than 30%.
# 4. Humidity is less than 75%
# 5

ideal_cities = weatherpy_df.loc[(weatherpy_df["Temperature (F)"] > 80) & 
                               (weatherpy_df["Temperature (F)"] < 85) & 
                               (weatherpy_df["Wind Speed (mph)"] < 20) & 
                               (weatherpy_df["Cloudiness (%)"] < 30) &
                               (weatherpy_df["Humidity (%)"] < 75), :].reset_index(drop=True).dropna()
# Display dataframe
ideal_cities

,City ID,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
0,8,busselton,AU,-33.6500,115.3333,80.04,30,0,10.29,02-01-2022
1,13,kavaratti,IN,10.5669,72.6420,80.71,69,6,5.73,02-01-2022
2,85,hithadhoo,MV,-0.6000,73.0833,82.56,71,9,12.41,02-01-2022
3,192,bathsheba,BB,13.2167,-59.5167,83.01,34,20,13.80,02-01-2022
4,240,srivardhan,IN,18.0333,73.0167,80.71,29,1,3.85,02-01-2022
5,255,nyaunglebin,MM,17.9500,96.7333,84.69,32,13,8.59,02-01-2022
6,258,pangai,TO,-19.8000,-174.3500,81.28,70,26,10.58,02-01-2022
7,344,nandikotkur,IN,15.8667,78.2667,81.25,42,10,3.31,02-01-2022
8,396,hambantota,LK,6.1241,81.1185,84.81,56,11,11.18,02-01-2022
9,404,byron bay,AU,-28.6500,153.6167,84.92,67,13,10.78,02-01-2022
10,408,kulhudhuffushi,MV,6.6221,73.0700,81.79,74,4,10.58,02-01-2022
11,426,mahibadhoo,MV,3.7833,72.9667,83.01,74,13,15.79,02-01-2022
12,427,nelson bay,AU,-32.7167,152.1500,83.30,74,12,9.75,02-01-2022
13,455,alibag,IN,18.6411,72.8792,80.67,36,0,7.72,02-01-2022
14,486,neral,IN,19.0333,73.3167,80.22,21,0,3.13,02-01-2022
15,504,virarajendrapet,IN,12.2000,75.8000,81.84,37,25,3.09,02-01-2022

In [74]:
# Finding the first hotel for each city located within 5000 meters of coordinates.
hotel_df = ideal_cities[["City", "Country", "Latitude", "Longitude"]].copy()

# Add a "Hotel Name" column to the DataFrame with null values
hotel_df["Hotel Name"] = np.nan
# Display dataframe
hotel_df

               City Country  Latitude  Longitude  Hotel Name
0         busselton      AU  -33.6500   115.3333         NaN
1         kavaratti      IN   10.5669    72.6420         NaN
2         hithadhoo      MV   -0.6000    73.0833         NaN
3         bathsheba      BB   13.2167   -59.5167         NaN
4        srivardhan      IN   18.0333    73.0167         NaN
5       nyaunglebin      MM   17.9500    96.7333         NaN
6            pangai      TO  -19.8000  -174.3500         NaN
7       nandikotkur      IN   15.8667    78.2667         NaN
8        hambantota      LK    6.1241    81.1185         NaN
9         byron bay      AU  -28.6500   153.6167         NaN
10   kulhudhuffushi      MV    6.6221    73.0700         NaN
11       mahibadhoo      MV    3.7833    72.9667         NaN
12       nelson bay      AU  -32.7167   152.1500         NaN
13           alibag      IN   18.6411    72.8792         NaN
14            neral      IN   19.0333    73.3167         NaN
15  virarajendrapet      IN   12.2000    75.8000         NaN

In [75]:
# Set parameters for querying Google Places API
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# Parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# Google Maps URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [76]:
# Create loop to go through each city in the dataframe and make API call

for index, row in hotel_df.iterrows():
    
    # Get the coordinates and store in dictionary
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    
    # Call the API and get hotel details
    hotel_data = requests.get(base_url, params).json()
    
    # Use exception handling to save the first hotel name for each city ---
    try:
        hotel_name = hotel_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"City '{row['City']}' found! The nearest hotel is {hotel_name}\n")     
    except:
        print(f"Could not find information for city '{row['City']}'... skipping.\n")

City 'busselton' found! The nearest hotel is The Sebel Busselton

City 'kavaratti' found! The nearest hotel is Bismillah Hotel And Lodging

City 'hithadhoo' found! The nearest hotel is Clovebeach

City 'bathsheba' found! The nearest hotel is Atlantis Hotel

City 'srivardhan' found! The nearest hotel is Sea Wind Beach Resort

City 'nyaunglebin' found! The nearest hotel is ဒေါ်ကျင်စိန်ဟိုတယ်

City 'pangai' found! The nearest hotel is Ha'apai Beach Resort

City 'nandikotkur' found! The nearest hotel is Hameed Hotel

City 'hambantota' found! The nearest hotel is The Peacock Beach Hotel Hambantota

City 'byron bay' found! The nearest hotel is Victoria's At Wategos

City 'kulhudhuffushi' found! The nearest hotel is The Local Stay - NM1

City 'mahibadhoo' found! The nearest hotel is Noovilu Suites - The luxury guest house in Maldives

City 'nelson bay' found! The nearest hotel is Seabreeze Hotel

City 'alibag' found! The nearest hotel is Hotel West Coast, Nagaon Alibaug

City 'neral' found! The nearest hotel is Royal Hotel Matheran

City 'virarajendrapet' found! The nearest hotel is Amritara Ambatty Greens Resort, Coorg

In [77]:
# Remove null rows from hotel dataframe
hotel_df.dropna(how="any",inplace=True)
hotel_df.reset_index(drop=True, inplace=True)

# Display dataframe
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
0,busselton,AU,-33.6500,115.3333,The Sebel Busselton
1,kavaratti,IN,10.5669,72.6420,Bismillah Hotel And Lodging
2,hithadhoo,MV,-0.6000,73.0833,Clovebeach
3,bathsheba,BB,13.2167,-59.5167,Atlantis Hotel
4,srivardhan,IN,18.0333,73.0167,Sea Wind Beach Resort
5,nyaunglebin,MM,17.9500,96.7333,ဒေါ်ကျင်စိန်ဟိုတယ်
6,pangai,TO,-19.8000,-174.3500,Ha'apai Beach Resort
7,nandikotkur,IN,15.8667,78.2667,Hameed Hotel
8,hambantota,LK,6.1241,81.1185,The Peacock Beach Hotel Hambantota
9,byron bay,AU,-28.6500,153.6167,Victoria's At Wategos
10,kulhudhuffushi,MV,6.6221,73.0700,The Local Stay - NM1
11,mahibadhoo,MV,3.7833,72.9667,Noovilu Suites - The luxury guest house in Mal...
12,nelson bay,AU,-32.7167,152.1500,Seabreeze Hotel
13,alibag,IN,18.6411,72.8792,"Hotel West Coast, Nagaon Alibaug"
14,neral,IN,19.0333,73.3167,Royal Hotel Matheran
15,virarajendrapet,IN,12.2000,75.8000,"Amritara Ambatty Greens Resort, Coorg"

In [78]:
# Add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [79]:
# Add marker layer on top of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))