In [5]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
from api_keys import weather_api_key

In [7]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "standard"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [8]:
query_url

'http://api.openweathermap.org/data/2.5/weather?appid=e485f2fc0b622885cb942c4a6c552ca7&units=standard&q='

In [9]:
cities = ["Paris", "London", "Oslo", "Beijing", "Mumbai", "Manila", "New York", "Seattle", "Dallas", "Taipei"]

lat = []
temp = []
hum = []
cloud = []
wind = []

for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])
    hum.append(response['main']['humidity'])
    cloud.append(response['clouds']['all'])
    wind.append(response['wind']['speed'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: [48.8534, 51.5085, 59.9127, 39.9075, 19.0144, 14.6042, 40.7143, 47.6062, 32.7668, 25.0478]
The temperature information received is: [279.97, 276.98, 277.87, 265.87, 296.14, 300.07, 271.47, 281.31, 282.92, 292.02]

In [10]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "City": cities,
    "Latitude": lat,
    "Temp": temp,
    "Humidity": hum,
    "Cloudiness": cloud,
    "Wind Speed (mph)": wind}
weather_data = pd.DataFrame(weather_dict)
weather_data

       City  Latitude    Temp  Humidity  Cloudiness  Wind Speed (mph)
0     Paris   48.8534  279.97        97         100              0.89
1    London   51.5085  276.98        87          70              2.57
2      Oslo   59.9127  277.87        69          86              3.91
3   Beijing   39.9075  265.87        63          53              1.72
4    Mumbai   19.0144  296.14        43           0              4.12
5    Manila   14.6042  300.07        81          75              0.89
6  New York   40.7143  271.47        50          20              1.79
7   Seattle   47.6062  281.31        73           0              0.45
8    Dallas   32.7668  282.92        51          20              0.89
9    Taipei   25.0478  292.02        84          75              3.58